style.
    .card {
        display: flex;
        flex-wrap: wrap;
        background-color: darkcyan;
    }
div.card
    div.image
    div.info
        p #{player.name}
        p #{player.alive}
        p #{player.born}
        p #{player.time}
script.
    console.log("#{player.name}")