style.
    .card {
        display: flex;
        flex-wrap: wrap;
        background-color: darkcyan;
    }
div.card
    div.image
    div.info
        p jugador: #{player.name}
            = player.vivo ? " esta vivo" : " esta muerto"
        p se unio el #{player.born}
        p jugo #{player.time} milisegundos
        if !player.alive
            p murio el #{player.died}
            p por #{player.death_reason} de #{player.death_by}